body{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    background-color: rgb(109, 61, 109);
}

.para{
    border-style: solid;
    border-color: black;
    padding: 10px 0px 30px 0px;
}
h1{
    font-size: 5vw;
    text-align: center;
}
p{
    font-size: large;
    text-align: center;
}
footer{
    text-align: center;
    color: black;
    font-size: large;
    margin-top: 7%;
}
footer a{
    text-decoration: none;
    color: black;
    padding: 10px;
}