h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    color: rgb(16, 17, 17);
    margin-top: 5%;
    margin-bottom: 5%;
}
body{
    background-color: rgb(0, 100, 38);
}
img{
    width: 40%;
}
.container {
    display: flex;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}
