nav{
    text-align: right;
    margin-top: 3%;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding: 10px 25px;
    margin: 10px;
    text-decoration: none;
    border: none;
    color: rgb(248, 248, 237);
    border-radius: 15px;
}
nav a:hover{
    background-color: rgb(16, 8, 17);
    color: aliceblue;
}
@media screen and (max-width: 478px) {
    nav a{
        padding: 2px;
        font-size: small;
    }
    nav{
        margin-top: 2rem;
        margin-left: -10rem;
    }
}